{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片上传</title>
</head>
<body>
<form action="{% url 'loadphoto' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
        <input type="file" value="浏览图片" name="img"><br>
      <tr>
          <td colspan="2">
              <input type="submit" value="上传文件">
          </td>

    <br>
      </tr>
        <br>
        <tr>
                <td colspan="2"><font color="red">{{ error_info }}</font></td>
        </tr>
</form>
</body>
</html>